@import "variables/sizes";
@import "mixins/breakpoints";

.home-hero {
  display: flex;
  flex: 1;
  background-color: #90dbf6;
  height: 275px;
  position: relative;
  overflow: hidden;
  border: 2px solid #000000;
  border-left: 0;
  border-right: 0;
}

.glass {
  display: flex;
  flex: 1;
  background-color: #90dbf6;
  height: 275px;
  position: relative;
  overflow: hidden;

  &__line {
    width: 100%;
    height: 20px;
    border-bottom: 40px solid #ffffff;
    transform: rotate(-36deg);
    position: absolute;
    opacity: 0.3;
    bottom: 15%;
    left: 31%;

    @include sm {
      bottom: -60px;
      left: 20%;
    }

    &:nth-of-type(2) {
      opacity: 0.55;
      border-bottom-width: 12px;
      left: 50%;

      @include sm {
        left: 28%;
      }
    }
  }
}
