@import "variables/sizes";
@import "variables/typography";
@import "mixins/breakpoints";

.navbar-brand {
  font-family: $cursive;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;

  .title {
    margin: 0;
  }

  &:hover {
    cursor: pointer;
  }
}
