// Device Screens
$screen-xs: 380px;
$screen-sm: 476px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

// Spacing
$spacing-xxs: 3px;
$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 30px;
$spacing-xl: 40px;
$spacing-xxl: 50px;
